body {
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    color: black;
    font-family: 'Playfair Display', serif;
    padding: 10px;
    border-bottom: 3px solid rgba(12, 160, 206, 0.87);
}

h2 {
    font-family: 'Playfair Display', serif;
    color: black;
    text-align: center;
}

section {
    padding: 5rem 0;
}

@media only screen and (max-width: 480px) {

    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    #navbar {
        height: auto !important;
    }
}


.navbar-nav {
    padding-right: 30px;
}

.nav-item {
    padding: 10px;
}

.nav-link {
    font-size: 1.14rem;
    ;
}

.nav-link:hover {
    color: #001EB3 !important;
}

.nav-link.active {
    color: #001EB3 !important;
    font-weight: 1000;
}

#navbar {
    background: linear-gradient(to right, #33cccc, #0077b3);
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    z-index: 100;
}

.a_link:hover {
    color: #001EB3 !important;
}

.a_link_background:hover {
    color: white;
    background-color: #0077b3;
}


.bold {
    font-weight: 600;
}

.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33cccc;
    border-radius: 10rem;
    z-index: -2;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0077b3;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover {
    color: #fff;
}

.button:hover:before {
    width: 100%;
}


.design {
    background-color: #dbecff70;
    padding: 1rem;
}

.font1 {
    color: black;
    font-family: 'Roboto', sans-serif;
}

#download_resume {
    background: #33cccc;
    color: white;
    box-shadow: 4px 4px 0 #0077b3;
    transition: transform 0.2s, box-shadow 0.2s;
}

#download_resume:active {
    transform: translateX(4px) translateY(4px);
    box-shadow: 0 0 0 #0077b3;
}


.skill-container {
    height: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.fill {
    height: 100%;
    background-color: #3498db;
    transition: width 0.5s ease-in-out;
}


.other_works {
    text-decoration: none;
    color: black;
    text-align: center !important;
}

.design1 {
    padding: 3px;
    border-bottom: 3px solid rgba(12, 160, 206, 0.87);
}


.borderclass {
    border: 3px solid #0077b3;
}

.borderclass:hover {
    opacity: 0.7;
}


.certificates {
    background: #33cccc;
    color: white;
}

.certificates:hover {
    background: #0077b3;
    color: white;
}

.view_button {
    background: #0077b3;
    color: white;
}

.view_button:hover {
    background-color: #33cccc;
    color: white;

}


.footer {
    font-size: 1.7rem;
}

.icon:hover {
    transform: scale(1.4);
}
